asgiref==3.4.1
cffi==1.14.6
chardet==4.0.0
coloredlogs==15.0.1
Django==3.2.6
humanfriendly==9.2
img2pdf==0.4.1
lxml==4.6.3
ocrmypdf==12.3.3
pdfminer.six==20200517
pdfplumber==0.5.28
pikepdf==2.16.1
Pillow==8.3.1
pluggy==0.13.1
pycparser==2.20
pycryptodome==3.10.1
pytz==2021.1
reportlab==3.6.1
sortedcontainers==2.4.0
sqlparse==0.4.1
tqdm==4.62.2
Wand==0.6.7
