{% extends 'base.html' %}

{% load static %}

{% block content %}

  {% block nav %}
    {% include 'nav.html' %}
  {% endblock nav %}



<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="mb-3">
    <label for="formName" class="form-label">Name</label>
    <input class="form-control" type="text" id="name" name="name">
    <label for="formFile" class="form-label">Default file input example</label>
    <input class="form-control" type="file" id="formFile" name="myfile">
  </div>
  <button type="submit" class="btn btn-primary">Upload</button>
  <a href="{% url 'document' %}"  rel="noopener noreferrer" class="btn btn-success" >View Documents</a>

</form>

{% if uploaded_file_url %}
  <p>{{text}}</p>
{% endif %}

{% endblock %}